@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    @apply dark:bg-babbleBlack;
    --platform-color: #9146ff;
    --platform-light: #9146ff;
    --platform-dark: #4503a8;
  }
  [data-theme="twitch"] {
    --platform-color: #9146ff;
    --platform-light: #9146ff;
    --platform-dark: #4503a8;
  }

  [data-theme="youtube"] {
    --platform-color: #ff0000;
    --platform-light: #ff2e2e;
    --platform-dark: #b50b0b;
  }

  [data-theme="tiktok"] {
    --platform-color: #ee1d52;
    --platform-dark: #ee1d52;
    --platform-light: #69c9d0;
  }
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham-Medium.woff") format("woff"),
    url("/fonts/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamBook.woff2") format("woff2"),
    url("/fonts/GothamBook.woff") format("woff"),
    url("/fonts/GothamBook.ttf") format("ttf");
  font-weight: 100;
  font-display: swap;
}

body {
  background: transparent
    radial-gradient(closest-side at 50% 50%, #202024 0%, #0e0e10 100%) 0% 0%
    no-repeat padding-box;
  overflow: hidden;
}

img {
  display: inline;
}

::-webkit-color-swatch {
  border-radius: 50%;
  /* border: 3px white solid; */
  appearance: none;
  width: 100%;
}
::-webkit-color-swatch-wrapper {
  border-radius: 50%;
  padding: 0;
}

::-moz-color-swatch {
  border-radius: 50%;
  /* border: 3px white solid; */
  appearance: none;
  width: 100%;
}
::-moz-color-swatch-wrapper {
  border-radius: 50%;
  padding: 0;
}
