@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    @apply dark:bg-babbleBlack;
    --platform-color: #9146ff;
    --platform-light: #9146ff;
    --platform-dark: #4503a8;
  }
  [data-theme="twitch"] {
    --platform-color: #9146ff;
    --platform-light: #9146ff;
    --platform-dark: #4503a8;
  }

  [data-theme="youtube"] {
    --platform-color: #ff0000;
    --platform-light: #ff2e2e;
    --platform-dark: #b50b0b;
  }

  [data-theme="tiktok"] {
    --platform-color: #ee1d52;
    --platform-dark: #ee1d52;
    --platform-light: #69c9d0;
  }
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham-Medium.woff") format("woff"),
    url("/fonts/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamBook.woff2") format("woff2"),
    url("/fonts/GothamBook.woff") format("woff"),
    url("/fonts/GothamBook.ttf") format("ttf");
  font-weight: 100;
  font-display: swap;
}

body {
  background: transparent
    radial-gradient(closest-side at 50% 50%, #202024 0%, #0e0e10 100%) 0% 0%
    no-repeat padding-box;
  overflow: hidden;
}

img {
  display: inline;
}

::-webkit-color-swatch {
  border-radius: 50%;
  /* border: 3px white solid; */
  appearance: none;
  width: 100%;
}
::-webkit-color-swatch-wrapper {
  border-radius: 50%;
  padding: 0;
}

::-moz-color-swatch {
  border-radius: 50%;
  /* border: 3px white solid; */
  appearance: none;
  width: 100%;
}
::-moz-color-swatch-wrapper {
  border-radius: 50%;
  padding: 0;
}

/* Toggle */
.switch input {
  display: none;
}

.switch {
  width: 60px;
  height: 30px;
  position: absolute;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #808085, 0 0 4px #808085;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #808085;
  border-radius: 30px;
  transform: translateX(-30px);
  /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before {
  transform: translateX(30px);
  /*translateX(w-h)*/
  background-color: #f2f2f4;
}

input:checked + .slider {
  box-shadow: 0 0 0 2px #f2f2f4, 0 0 8px #f2f2f4;
}

.switch200 .slider:before {
  width: 200%;
  transform: translateX(-82px);
  /*translateX(-(w-h))*/
}
