@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    @apply dark:bg-babbleBlack;
  }
  [data-theme="twitch"] {
    --platform-color: #9146ff;
    --platform-light: #9146ff;
    --platform-dark: #4503a8;
  }

  [data-theme="youtube"] {
    --platform-color: #ff0000;
    --platform-light: #ff2e2e;
    --platform-dark: #b50b0b;
  }
}
@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Medium.woff2") format("woff2"),
    url("../public/fonts/Gotham-Medium.woff") format("woff"),
    url("../public/fonts/GothamMedium.ttf") format("truetype");
}
img {
  display: inline;
}
